GIMP/
Keybase/
QtProject.conf
Thunar/
Trolltech.conf
UNDERTALE_linux_steamver/
aacs/
alsi/
autostart/
beets/library.db
beets/state.pickle
calibre/
cava/
chromium/
cmus/
configstore/
dconf/
discord/
enchant/
google-chrome/
google-musicmanager/
gtk-2.0/
gtk-3.0/
hexchat/
keybase/
menus/
mimeapps.list
mpd/pid
mygtkmenu.conf
nitrogen/
nvim/.netrwhist
obs-studio/
pavucontrol.ini
pulse/
shell.d/
teamviewer/
unity3d/
user-dirs.dirs
user-dirs.locale
vitetris
weechat/fish.conf
weechat/urlserver_list.txt
weechat/irc.conf
weechat/logs
weechat/weechat.conf
weechat/weechat.log
xfce4/
zathura/
zim/
