GIMP/
Keybase/
QtProject.conf
Thunar/
Trolltech.conf
autostart/
beets/library.db
beets/state.pickle
calibre/
chromium/
cmus/
dconf/
google-chrome/
google-musicmanager/
gtk-2.0/
gtk-3.0/
hexchat/
keybase/
mimeapps.list
mpd/pid
mygtkmenu.conf
nitrogen/
obs-studio/
pavucontrol.ini
pulse/
shell.d/
unity3d/
user-dirs.dirs
user-dirs.locale
xfce4/
